<!-- xmlns:th 就可以用th标签动态替换掉静态数据了 -->
<html xmlns:th="http://www.thymeleaf.org"
	data-layout-decorator="/layout/mainPage">
	<head>
		<script type="text/javascript"
			src="/resources/js/jquery/jquery-1.8.2.min.js"></script>
		<script type="text/javascript">
			
		</script>
	</head>
	<body>
		<section data-layout-fragment="content" >
			<!-- th标签的应用 -->
			<input type="text" name="userName" value="James Carrot" th:value="${test}" />
			<div th:object="${user}">
				<span th:text="*{age}"></span>
				<span th:text="#{hello}"></span>
				<span th:text="${#dates}"></span>
				<span th:text="${today}"></span>
				<span th:text="${#session}"></span>
			</div>
		</section>
	</body>
	<div data-layout-fragment="postScript">
		<script data-th-inline="text">
			/*<![CDATA[*/
			//require([ 'base/list']);
			/*]]>*/
		</script>
	</div>
</html>