<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ouer.caihe.maven.mapper.auth.GroupUserMapper">
	<resultMap id="BaseResultMap" type="ouer.caihe.maven.auth.model.GroupUser">
		<id column="id" typeHandler="idHandler" property="id"/>
		<result column="group_id" jdbcType="VARCHAR" typeHandler="idHandler"  property="groupId" />
		<result column="user_id" jdbcType="VARCHAR" typeHandler="idHandler"  property="userId" />
	</resultMap>
	<sql id="table_name">
		auth_group_user
	</sql>
	<sql id="base_column">
		(id,group_id,user_id)
	</sql>
	<!-- 添加一条用户组对应记录 -->
	<insert id="insertGroupUser" parameterType="ouer.caihe.maven.auth.model.GroupUser">
		insert into
		<include refid="table_name" />
		<include refid="base_column" />
		value(UUID(),#{groupId,typeHandler=idHandler},#{userId,typeHandler=idHandler})
	</insert>

	<!-- 批量加入用户组对应记录 -->
	<insert id="insertGroupUserBatch" parameterType="java.util.List">
		insert into
		<include refid="table_name" />
		<include refid="base_column" />
		values
		<foreach collection="groupUsers" item="item" index="index"
			separator="," close=";">
			(UUID(),#{groupId,typeHandler=idHandler},#{userId,typeHandler=idHandler})
		</foreach>
	</insert>
	
	<!-- 根据user_id批量删除角色组记录 -->
	<delete id="deleteGroupUserByUserId" parameterType="java.lang.String">
		delete from
		<include refid="table_name" />
		where user_id = #{userId,typeHandler=idHandler}
	</delete>
	
	<!-- 根据group_id批量删除角色组记录 -->
	<delete id="deleteGroupUserByGroupId" parameterType="java.lang.String">
		delete from
		<include refid="table_name" />
		where group_id = #{groupId,typeHandler=idHandler}
	</delete>
	
	<!-- 根据group_id查询 -->
	<select id="selectGroupUsersByGroupId"  parameterType="java.lang.String" resultMap="BaseResultMap">
		select * from
		<include refid="table_name" />
		where group_id = #{groupId,typeHandler=idHandler}
	</select>
	
	<!-- 根据user_id查询 -->
	<select id="selectGroupUsersByUserId"  parameterType="java.lang.String" resultMap="BaseResultMap">
		select * from
		<include refid="table_name" />
		where user_id = #{userId,typeHandler=idHandler}
	</select>
</mapper>